@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900;1000&family=Poppins:wght@300;500;700;900&family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Outfit:wght@100..900&family=Prata&display=swap");

:root {
  --light-green: #d0ff64;
  --dark-green: #02f754;
  --darker-green: #03b043;
  --white: #fff;
  --light-yellow: #f4efc7;
  --bold-text-color: #1e375a;
  --light-text-color: rgba(30, 55, 90, 0.7);
  --font-family: "Prata", sans-serif, ;
  --dark-red: #fc0101;
  --darker-red: #820101;
  --dark-blue:#eafcf7;
  --darker-blue: #4de8f0;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-yellow);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bold-text-color);
}

.page-heading {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

p {
  color: var(--light-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  margin: 2rem auto;
}

.btn {
  color: var(--white);
  background-color: var(--dark-green);
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
}

.btn2 {
  color: var(--white);
  background-color: var(--dark-red);
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
}

.btn3 {
  color: blue;
  display: flex;
  gap: 3;
  background-color: var(--dark-blue);
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border: 1px;
  font-weight: 600;
  max-width: 300px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  font-family: var(--font-family);
  align-self: center;
}

.btn:hover {
  background-color: var(--darker-green);
}

.btn2:hover {
  background-color: var(--darker-red);
}

.btn3:hover {
  background-color: var(--darker-blue);
}

.disabled {
  cursor: auto;
}

.disabled:hover {
  background-color: var(--dark-blue);
}

.layout-container {
  display: flex;
  gap: 1rem;
}

.loader {
  width: 80vw;
  height: 90vh;
  display: flex !important;
  margin: auto;
}

.nothing {
  font-size: 3rem;
  color: rgba(30, 55, 90, 0.3);
  height: 100%;
}

@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 896px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 596px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 60%;
  }
}
